/* CSS styles for the veterinarian profile form */
.swal2-container {
    z-index: 20000 !important; 
}
body {
    font-family: Arial, sans-serif;
    background-color: rgba(132, 139, 200, 0.18);
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Set container width to half of the viewport width */
    margin-left: 50%;
}


/* for the button*/
.flex-container {
    display: flex;
    width: 40%;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Center horizontally */
}


h1 {
    color: #333;
    font-size: 40px;
    text-align:left;
    margin-bottom: 70px;
    text-decoration: none;
}
.key {
    color: #333;
    width: 30%;
    font-size: 20px;
    text-align:left;
    margin-bottom: 20px;
    text-decoration: none;
}
.value {
    color: #adadad;
    font-size: 20px;
    text-align:left;
    margin-bottom: 20px;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button[type="submit"]:hover {
    
    background-color: #6a3879;
    color: #fff;
}

/* Style for the image container */
.img-container {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px; 
    padding: 10px; 
    text-align: center; 
}

/* Style for the "+ Add Image" label */
.image-label {
    cursor: pointer; /* Change the cursor to a pointer when hovering over the label */
}

.pair{
    display:flex;
}

a {
    text-decoration: none;
    color: inherit;
}



.error-message {
    color: #ff0000; /* Red color for the text */
    margin-bottom: 1px; /* Add some space above the message */
    font-size: 0.9em; /* Slightly smaller font size */
    padding: 1px; /* Padding inside the message */
}

/* for edit profile?updateprofile pages with grey background*/
.formcontainer {
    width: 50%;

}

.formcontainer input[type="text"],
input[type="tel"], 
input[type="password"], 
input[type="email"],
input[type="date"]{
    font-family: Arial, sans-serif;
    display: block;  
    background-color: #ffffff;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color:#6a3879;
}

/*for long text fields*/
.formcontainer textarea {
    display: block;
    width: calc(100% - 20px);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color:#6a3879;
    resize: vertical; /* can vertically resize */

}
.formcontainer .error-message {
    color: #ff0000;
    margin-bottom: 1px; 
    font-size: 0.9em; 
    padding: 1px; 
}

.formcontainer h1 {
    color: #333;
    font-size: 40px;
    text-align:left;
    /* text-align: center; */
    margin-bottom: 40px;
}
.formcontainer label, label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    font-size: 20px;
}

