/* CSS styles for the veterinarian profile form */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(132, 139, 200, 0.18);
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Set container width to half of the viewport width */
    margin-left: 50%;
}


/* for the button*/
.flex-container {
    display: flex;
    width: 40%;
    align-items: center; /* Center vertically */
    justify-content: space-between;
}


h1 {
    color: #333;
    font-size: 40px;
    text-align:left;
    margin-bottom: 70px;
    text-decoration: none;
}
.key {
    color: #333;
    width: 30%;
    font-size: 20px;
    text-align:left;
    margin-bottom: 20px;
    text-decoration: none;
}
.value {
    color: #adadad;
    font-size: 20px;
    text-align:left;
    margin-bottom: 20px;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button[type="submit"]:hover {
    
    background-color: #6a3879;
    color: #fff;
}

/* Style for the image container */
.img-container {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px; 
    padding: 10px; 
    text-align: center; 
}

/* Style for the "+ Add Image" label */
.image-label {
    cursor: pointer; /* Change the cursor to a pointer when hovering over the label */
}

.pair{
    display:flex;
}

/* Style for the image preview */
#pet-image-preview {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 200px; 
    margin-top: 10px; /* Add space between the label and the image preview */
}

a {
    text-decoration: none;
    color: inherit;
}

/*for logout button with class "logout-button"  inside class bottom container*/
.bottom-container .logout-button {
    width: 100%;
    height: 45px;
    border: none;
    color: #fff;
    background-color: #6a3879;
    padding: 10px 40px;
    margin-top: 0;
    border-radius: 5px;
    margin-bottom: 40px;
    font-size: 20px; /* Increase the font size */
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */
}

.bottom-container  .logout-button:hover {
    background-color: #4b2756; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}

.error-message {
    color: #ff0000; /* Red color for the text */
    margin-bottom: 1px; /* Add some space above the message */
    font-size: 0.9em; /* Slightly smaller font size */
    padding: 1px; /* Padding inside the message */
}

