    /* Basic table styling */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

    th, td {
        padding: 10px;
        text-align: left;
        background-color: white;
    }

    th {
        background-color: #e7c6ff;
    }

    /* Button and icon styling */
    .action-buttons {
        display: flex;
        justify-content: space-between; 
        
    }

    .t-button {
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: white;
    }

    .edit-action-buttons button {
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        
    }
    .delete-action-buttons button {
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      
    }

    .edit-action-buttons button:hover {
        background-color: #e7c6ff; 
        
    }

    .delete-action-buttons button:hover {
        background-color: #e7c6ff; 
    }

    .t-button:hover {
        background-color:#e7c6ff ; 
    }

    .edit-icon::before {
        content: "\270E"; /* Unicode character for a pencil icon */
    }

    .delete-icon::before {
        content: "\1F5D1"; /* Unicode character for a trash bin icon */
    }
