
.footer {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    bottom: 0; /* Position at the bottom */
    left: 0;
    right: 0;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;  
}
