
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
height: 100vh;
background-color: gradient;
background-size: 600% 100%;
animation: gradientAnimation 10s infinite;
background-size:cover;
background-position:right;
background-attachment:fixed;
}


  .container {
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
      box-sizing: border-box;
      color: black;
      background-color: rgba(255, 255, 255, 0); /* Slightly transparent white */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      border-radius: 8px;
      transition: transform 0.3s;
      text-align: center;
      font-size: 25px;
      perspective: 1000px;
  }

  .home-container{
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
      box-sizing: border-box;
      color: black;
      background-color: rgba(255, 255, 255, 0); /* Slightly transparent white */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      border-radius: 8px;
      transition: transform 0.3s;
      text-align: center;
      font-size: 25px;
      perspective: 1000px;
      align-items: center;
  }

  .container:hover {
      transform: scale(1.00);
      cursor: pointer;
  }

  .left-section,
  .right-section {
      width: 48%; /* Adjusted width to fit side by side with small gap */
      box-sizing: border-box;
      padding: 2px;
      text-align: justify;
      margin: 0 1%; /* Added margin for separation */
      display: inline-block; /* Display side by side */
      vertical-align: top; /* Align to the top */
      flex: 1;
  }

  .photo {
      width: 100%;
      padding: 20px;
      border-radius: 40px;
      /* max-width: 40%; */
      height: auto;
      border-radius: 8px;
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      transition: transform 0.3s;
  }

  .photo:hover {
      transform: scale(1.02);
      cursor: pointer;

  }
   
  .card-content {
      width:90%;
      padding: 20px;
      color: black;
      text-align: center;
  }

  .services-section,
  .feedback-section {
      clear: both;
      text-align: center; /* Center the content */
      color:black;
      /* font-weight: bold; */
      
  }

  .card1 {
  background-color: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
  border-radius: 50px;
  overflow: hidden;
  margin: 20px 0;
  transition: transform 0.3s;
  color: black;
  font-style: italic;
  text-align: center;
  backdrop-filter: blur(5px); /* Frosted glass effect */
  transition: transform 0.8s;
  transform-style: preserve-3d;
 
  }

  .card1:hover {
      transform: scale(1.2);
      cursor: pointer;
      /* transform: rotateY(30deg); */
      /* transform: rotateX(30deg); */
      transform: rotateZ(10deg);
      transform-style: preserve-3d;
      
  }
  .card3{
          display:flex;
          flex-direction:column;
          width:300px;
          box-shadow: 0 0 0px rgba(0, 0, 0, 0);
          border-radius: 24px;
          overflow: hidden;
          margin: 10px;
          transition: transform 0.3s;
          color:black;
          text-align: center;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          flex-basis: calc(33.33% - 20px);
          background-color: #ffffff;    
          }

  .card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }


  .card3-image{
  width:330px;
  height:320px;
  }

  .card3-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  border-radius: 12px 12px 0 0;
  }

  .card3-text{
  margin:-30px auto;
  margin-right:20px;
  height:300px;
  width:300px;
  color:#333;
  padding: 20px;
  text-align: center;
  }

  .card3-body{
  font-size:1rem;
  }

  .button{
  margin:10px auto;
  margin-top:20px;
  margin-bottom:20px;
  
  }
  .btn{
  padding: 10px 20px;
  background-color:#6a387944;
  color:#6a3879;
  font-size: 16px;
  font-weight: normal;
  border-radius:24px;
  text-decoration:none;
  background-color: #6a387944;
  border:none;
  width: fit-content;
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
      
  }
  .btn:hover{
  background-color:#fff;
  color:darkmagenta;
  transition:0.5s;
  transform:scale(1.1);
  }
  .btn:active{
  transform:scale(0.9);

  }

  .card2{
  display:flex;
  flex-direction:column;
  width:320px;
  height:380px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  border-radius:20px 20px 20px 20px; 
  overflow: hidden;
  transition: transform 0.3s;
  color:black;
  text-align: center;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
  }

  .card2:hover {
  transform: scale(1.02);
  }

  .card2-image{
  border-radius:0 0 20px 20px;    
  margin-top:0px;    
  width:320px;
  height:320px;
  }
  .card2-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
  }

  .card2-text{
  background-color:#9b59b6;
  color:#FFF8F0;
  border-radius:0 0 20px 20px;
  font-size: 20px;
  font-weight: normal;
  }


  .card-content {
      /* background-color: rgba(255, 255, 255, 0.8);  */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
        border-radius: 16px;
        overflow: hidden;
        margin: 20px 0;
        transition: transform 0.3s;
        color: black;
        /* font-weight: bold; */
        text-align: center;
        backdrop-filter: blur(5px); /* Frosted glass effect */
  }

  .service-card,
  .feedback-card {
    background-color: rgba(255, 255, 255, 0.8); 
      width: calc(30% - 20px); /* Adjusted width */
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
      border-radius: 16px;
      overflow: hidden;
      margin: 10px;
      box-sizing: border-box;
      transition: transform 0.3s;
      display: inline-block; /* Display side by side */
      vertical-align: top; /* Align to the top */
      color:black;
      text-align: center;
      margin-right: 30px;
      height:440px;

  }

  .service-card:hover,
  .feedback-card:hover {
      transform: scale(1.02);
  }

.card4 {
flex-basis: calc(30% - 20px);
height: 350px;
width: 250px;
position: relative;
transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
border-radius: 24px;
box-shadow: 0 0 20px 8px #d0d0d0;
overflow: hidden;
}

.card4-descript{
height: 80px;
padding: 12px;
}

/*Description */
.card4-description {
display: flex;
position: absolute;
gap: .5em;
flex-direction: column;
background-color: #8F4BAA;
color: white;
height: 72%;
bottom: 0;
border-radius: 16px;
transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
padding: 10px;
text-wrap:wrap;
font-size: 16px;
}



.card-descript {
display: flex;
position: absolute;
gap: .5em;
flex-direction: column;
background-color: whitesmoke;
color: #212121;
height: 30%;
bottom: 10px;
padding-left: 20px;
border-radius: 16px;
transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
padding: 2rem;
font-size: 16px;
}


.text-title {
font-size: 1.3rem;
font-weight: 700;
}

.text-body {
font-size: 1rem;
line-height: 130%;
padding-bottom: 20px;
}



.card4:hover .card4-description {
transform: translateY(100%);
}

button {
    background-color: #9b59b6; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  button:hover {
    background-color: #8e44ad; 
    transform: scale(1.02);
    cursor: pointer;
  } 
      
  .account {
    display: flex;
    margin-bottom: 20px;
  }

  .feedback-container {
      max-width: 4000px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      
  }

  .feedback-container .card {
      flex-basis: calc(40% - 20px);
      margin: 10px;
      padding: 4%;
      border-radius: 24px;
      overflow: hidden;
      transition: transform 0.3s;
      background-color: #ffffff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      font-size: 16px;
  }

  .feedback-container .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .feedback-container .card-title {

      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #333;
  }

  .feedback-container .card-description {
      font-size: 1rem;
      color: #666;
      line-height: 1.6;
  }

  .para{
    text-align:center; 
    font-size: 18px; 
    color:#353535;
  }
 
