body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.image_container {
    flex: 1;
    padding: 20px;
    width:50%;
}

.image_container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.form_container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.form_container .signup_link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}