/* CSS styles for the login form */
body {
    font-family: Arial, sans-serif;
    /* background-color:#f4f4f4; */
   background: linear-gradient(
      117.86deg,
      #d877ff -3.22%,
      rgb(107, 149, 255) 12.22%,
      rgb(255, 252, 252) 38.4%
      
    ),
    #ffffff;
    padding: 20px;
    margin: 0;
}

.logo{
    margin-left:90%;
    margin-top:5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
.logo img {
    width: 150px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio by setting height to 'auto' */
}

.container {
    display: flex;
    justify-content: space-between; /* Display children in a row with space between them */
    align-items: center; /* Center vertically */
    height: 88vh; /* Set container height to 100% of viewport height */
    width: 50%; /* Set container width to 100% of viewport width */
    margin-left: 25%;
    background-color: #f4f4f4;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Styling for the image container */
.img-container {
    width: 50%;
    background-color: none;
    border-radius: 0;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-left: 60px;
}
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
/* Styling for the login form container */
.form-container {
    width: 40%;
    background-color:none;
    border: 1px solid #ccc;
    border-radius: 15px;
    align-items: center;
    display: flex;
    border: none;
    margin-top: 5px;
}

h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-top:80px;
}

form {
    max-width: 100%;
    margin: 0 auto;
    margin-top:0;
  
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}



/* Style for the "Don't have an account?" link */
p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #1c038c;
    text-decoration: none;
}

/* Style for the "Don't have an account?" link on hover */
p a:hover {
    text-decoration: underline;
}



label {
    margin-bottom: 5px;
    text-align: left;
    
}

label:hover {
    border-color: #9971FE;
}


input[type="text"],
input[type="tel"], 
input[type="password"], 
input[type="email"],
input[type="date"]{
    font-family: Arial, sans-serif;
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    outline-color:#9971FE;
}

button[type="submit"] {
    background-color: #9971FE;
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #8A5BFF;
}

input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

/*for long text fields*/
textarea {
    font-family: Arial, sans-serif;
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    outline-color:#9971FE;
}

/* Basic style for radio buttons */
input[type="radio"] {
    margin-right: 5px; 
}

/* Styling for the radio button when it's checked */
input[type="radio"]:checked {
    border: 2px solid #9971FE; /* Change the border color when the radio button is checked */
    background-color: #9971FE; /* Change the background color when the radio button is checked */
}
.error-message {
    color: #ff0000; /* Red color for the text */
    margin-bottom: 1px; /* Add some space above the message */
    font-size: 0.9em; /* Slightly smaller font size */
    padding: 1px; /* Padding inside the message */
}