
.swal2-container {
    z-index: 20000 !important; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    color: #333;   
}

.right-header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
}
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 10px 20px;
    width: 80%;                 
    position: fixed;             
    top: 0;                     
    z-index: 500; 
}

/*search bar*/
.panel-header .search-bar {
    width:40%;
    font-size: 16px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px; 
    display: flex; 
    overflow: hidden; 
}

.panel-header .search-bar input[type="text"]{
    width:auto; 
    font-size: 16px;
    border: none; /* Remove input border */
    padding: 10px; /* Increase padding */
    flex: 1; /* Input takes remaining space */
}

.panel-header .search-button {
    font-size: 16px;
    background: #6a3879; /* Blue background color */
    border: none; /* Remove button border */
    border-radius: 5px;
    margin: 2px;
    color: white; /* White text color */
    padding: 10px 15px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */
    width: fit-content;

}
/*buttons*/
.panel-header .add-new-button {

    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: #6a3879;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */
}
.panel-header .add-new-button:hover {
    background-color: #6a3879;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/*-------------------modal form for CRUD-------------------*/
.modal-form {
    display: flex;
    height: 100vh; 
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-form  .modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 50%;
    width: auto;
}


.modal-form  .modal-content-delete {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: fit-content;
    width: 100%;
    max-height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Add a scrollbar if content exceeds the height */
}

.modal-form .modal-content h1 {
    color: #333;
    font-size: 40px;
    text-align:left;
    /* text-align: center; */
    margin-bottom: 40px;
}


.modal-form .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.modal-form .modal-content label, label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    font-size: 20px;
}



.modal-form .modal-content input[type="text"],
input[type="tel"], 
input[type="password"], 
input[type="email"],
input[type="date"]{
    font-family: Arial, sans-serif;
    display: block;  
    background-color: #ECECEC;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color:#6a3879;
}



/* buttons */
.modal-form .modal-content button {
    margin: 5px;
}

.modal-form .modal-content button[type="submit"] {
    display: block;
    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */

}

.modal-form .modal-content button[type="submit"]:hover {
    background-color: #6a3879;
    color: #fff;
}

.modal-form .modal-content input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

/*for long text fields*/
.modal-form .modal-content textarea {
    display: block;
    width: calc(100% - 20px);
    background-color: #ECECEC;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color:#6a3879;
    resize: vertical; /* Allow vertical resizing */

}

/* Basic style for radio buttons */
.modal-form .modal-content input[type="radio"] {
    margin-right: 5px; 
}

/* Styling for the radio button when it's checked */
.modal-form .modal-content input[type="radio"]:checked {
    border: 2px solid #6a3879; 
    background-color: #6a3879; 
}


.modal-form .delete-button {
    display: block;
    background-color: #b81616;
    width: fit-content;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */
    
}

.modal-form .modal-content-delete .delete-button:hover {
    background-color: #a21515;
    color: #fafbf6;
}

.modal-form .column {
    flex: 1; /* Allows columns to grow and shrink as needed */
    min-width: 300px; /* Minimum width of each column */
    padding: 10px;
}
.modal-form .finished-button {
    display: block;
    background-color: #c6ff0b;
    width: fit-content;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */

}

.modal-form .modal-content-delete .finished-button:hover {
    background-color: #b5e20a;
    color: #fafbf6;
}

.modal-form a {
    text-decoration: none;
    color: inherit;
}

.modal-form .close {
    /* position: absolute; */
    right: 100px;
    top: 5px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-form .close:hover {
    color: #4b2756;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.modal-content h1 {
    color: #333;
    font-size: 40px;
    text-align:left;
    /* text-align: center; */
    margin-bottom: 40px;
}
.modal-content label, label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    font-size: 20px;
}
.modal-content .form-container {
        max-width: 100%;
        margin: 0 auto;
}
.modal-content input[type="text"],
input[type="tel"], 
input[type="password"], 
input[type="email"],
input[type="date"]{
    font-family: Arial, sans-serif;
    display: block;  
    background-color: #ECECEC;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color:#6a3879;
}


/* Style for the image container */
.modal-form .modal-content .img-container {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px; 
    padding: 10px; 
    text-align: center; 
}

/* Style for the "+ Add Image" label */
.modal-form .modal-content .image-label {
    cursor: pointer; 
}

/* Style for the image preview */
.modal-form .modal-content #pet-image-preview {
    max-width: 100%;
    max-height: 200px; 
    margin-top: 10px; 
}

.modal-form .error-message {
    color: #ff0000; /* Red color for the text */
    margin-bottom: 1px; /* Add some space above the message */
    font-size: 0.9em; /* Slightly smaller font size */
    padding: 1px; /* Padding inside the message */
}

.modal-form .disabled-field {
    background-color: #eee;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}

.modal-form .form-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows content to wrap into new rows */
}

/* for the button*/
.modal-content .flex-container {
    display: flex;
    width: 60%;
    align-items: center; /* Center vertically */
    justify-content: space-between;
}

/* for the button*/
 .flex-container .reject {
    display: block;
    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */

}

 .flex-container .reject:hover {
    background-color: #6a3879;
    color: #fff;
}

/*deactivate and activate buttons*/

 .flex-container .d-button {
    display: block;
    background-color: #6a387944;
    border:none;
    width: fit-content;
    color:#6a3879;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box shadow */
}

 .flex-container .d-button:hover {
    background-color: #6a3879;
    color: #fff;
}

/* media query */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%; /* Allows columns to grow and shrink as needed */
        min-width: 100%; /* Minimum width of each column */
    }
}

.modal-form .select-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px; /* Adjust margin as needed */
}

#vet-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px; /* Adjust width as needed */
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark text color */
}