/* Sidebar styles */
.sidebar {
    width: 230px;
    min-height: 100vh;
    background-color: #cfc3d3;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

/* Remove ul disc style */
.sidebar .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure full width */
}

.sidebar .nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 80px;
    flex-grow: 1; /* Flex grow to push the bottom container down */

}
.sidebar .nav-item {
    margin-bottom: 10px;
    display: block; /* Full width for clickable area */

    
}

.sidebar .nav-link {
    text-decoration: none;
    font-size: 20px;
    display: block; /* Important for padding to take full width */
    text-align: center;
    background-color: #f4f4f4;
    color: #6a3879;
    border-radius: 15px;          
    padding: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Added box shadow */
    transition: background-color 0.3s;

}

.sidebar .nav-link:hover, .sidebar .nav-link:focus, .sidebar .nav-link:active {
    background-color: #6a3879;
    color: #fff;
}

/* Specific styles when nav-item is active (if needed to be more specific) */
.nav-item .nav-link-active {
    text-decoration: none;
    font-size: 20px;
    display: block; /* Important for padding to take full width */
    text-align: center;
    background-color: #6a3879;
    color: #fff;
    border-radius: 15px;          
    padding: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Added box shadow */
    transition: background-color 0.3s;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    color: #333;
    
}


.sidebar .top-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.sidebar .bottom-container {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: flex-end;
}

.sidebar .logout-button {
    width: 100%;
    border: none;
    color: #fff;
    background-color: #947c9b;
    border-radius: 15px;
    margin-bottom: 40px;
    font-size: 20px; /* Increase the font size */
    padding: 10px 60px;
    text-decoration: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Added box shadow */

    
}

.sidebar .logout-button:hover {
    background-color: #795e81; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}
.sidebar .logout-button:active {
    background-color: #795e81; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}
