/* Sidebar styles */
.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #e8deff; /* Off-white background color */
    /* color: #9971FE;  */
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

/* Remove ul disc style */
.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    color: #333; /* New text color */
    font-size: 20px; /* Increase the font size */
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
   
}

.nav-item:hover {
    background-color: #9971FE; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    color: #333;
    
}
.nav-item a:hover {
    background-color: #9971FE; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}

/* Active menu item */
.nav-item.active {
    background-color: #9971FE; /* Theme color for active item */
    color: #fff; /* Text color for active item */
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.center-image img {
    width: 200px; /* Adjust the size as needed */
}