/* Sidebar styles */
.sidebar {
    width: 25%;
    height: 50vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 18%;
}

/* Remove ul disc style */
.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    width:fit-content;
    margin-bottom: 10px;
}

.nav-link {
    width:fit-content;
    color: #333; 
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
   
}

.nav-item:hover {
    background-color: #f4f4f4; 
    color: #333; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    color: #333;
    
}
.nav-item a:hover {
    background-color: #9971FE; 
    color: #fff; 
}

/* Active menu item */
.nav-item.active {
    background-color: #9971FE; 
    color: #fff; 
}

