.tablecontainer {
    width: 80%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    border-color: #000000;
    border-radius: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: white;
    
}

th {
    background-color: #ccc;
    color:rgb(0, 0, 0);
    font-weight: normal;
    
}

tr{
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    justify-content: space-between; 
    
}
.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.t-button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    background-color: white;
}

.edit-action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
.delete-action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
}

.edit-action-buttons button:hover {
    background-color: #9971FE; 
    
}

.delete-action-buttons button:hover {
    background-color: #9971FE; 
}

.t-button:hover {
    background-color:#9971FE ; 
}

.edit-icon::before {
    content: "\270E"; 
}

.delete-icon::before {
    content: "\1F5D1"; 
}


/* Style the Deactivate button */
.deactivate-action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    background-color: #ff000041; /* Background color for Deactivate button */
    color: #ff0000; /* Text color for Deactivate button */
    cursor: pointer;
}

.deactivate-button {
    background: #ffffff; /* Purple background color */
    border: 1px; /* Remove button border */
    border-radius: 50px;
    color: #333; /*  text color */
    padding: 10px 40px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */
}

.deactivate-action-buttons button:hover {
    background-color: #9971FE; 
    
}

/* Style the medicalhistory button */
.medicalhistory-action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e8deff; /* Background color for Deactivate button */
    color: 333; /* Text color for Deactivate button */
    cursor: pointer;
}

.medicalhistory-button {
    background: #e8deff; /* Purple background color */
    border: none; /* Remove button border */
    border-radius: 50px;
    color: #333; /*  text color */
    padding: 10px 40px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */
}

.medicalhistory-action-buttons button:hover {
    background-color: #9971FE; 
    
}
/* Style the vaccinationhistory button */
.vaccinationhistory-action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e8deff; /* Background color for Deactivate button */
    color: 333; /* Text color for Deactivate button */
    cursor: pointer;
}

.vaccinationhistory-button {
    background: #e8deff; /* Purple background color */
    border: none; /* Remove button border */
    border-radius: 50px;
    color: #333; /*  text color */
    padding: 10px 40px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */
}

.vaccinationhistory-action-buttons button:hover {
    background-color: #9971FE; 
    
}

a {
    text-decoration: none;
    color: inherit;
}