
/* tables */

.swal2-container {
    z-index: 20000 !important; 
}

.table-container {
    width: 100%; /* Adjust based on your design */
    height: 75vh; /* Or whatever height you want */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: auto; /* Keeps the horizontal overflow hidden */
    border-radius: 5px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow-x: auto;
    overflow-y:auto; 

}

th, td {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;

}

th {
    position: sticky;
    top: 0;
    background-color: #947c9b; /* Gradient background for headers */
    color: white;
    z-index: 10;
    
}

tr {
    width:100%;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray for odd rows */

}

tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}



.edit-action-buttons button {
    background-color:#6a387935;
    color: #6a3879; /* Text color */
    border: none;
    padding: 4px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-action-buttons button:hover {
    background-color: #6a3879; /* Theme color on hover */
    color: #fff; /* Text color on hover */

    
}

.delete-action-buttons button { 
    background-color: #ff000023; /* Background color for Deactivate button */
    color: #ff0000; /* Text color for Deactivate button */
    border: none;
    padding: 4px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-action-buttons button:hover {
    background-color: #ff0000; 
    color: #fff; /* Text color on hover */
}

.t-button:hover {
    background-color: #6a3879; /* Theme color on hover */
    color: #fff; /* Text color on hover */
}

.edit-icon::before {
    content: "\270E"; 
}

.delete-icon::before {
    content: "\1F5D1"; 
}


/* Style the Deactivate button */
.deactivate-action-buttons button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    background-color: #ff000023; /* Background color for Deactivate button */
    color: #ff0000; /* Text color for Deactivate button */
    cursor: pointer;

}

.deactivate-button {
    background: #ffffff; /* Purple background color */
    border: 1px; /* Remove button border */
    border-radius: 50px;
    color: #333; /*  text color */
    padding: 10px 40px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */
}

.deactivate-action-buttons button:hover {
    background-color: #ff0000; 
    color: #fff; /* Text color on hover */
    
}
/* Style the activate button */
.activate-action-buttons button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    background-color: #00c7492c; /* Background color for Deactivate button */
    color: #00c749; /* Text color for Deactivate button */
    cursor: pointer;

}

.activate-button {
    background: #ffffff; /* Purple background color */
    border: 1px; /* Remove button border */
    border-radius: 50px;
    color: #333; /*  text color */
    padding: 10px 40px; /* Adjust padding */
    cursor: pointer; /* Add cursor pointer */

}

.activate-action-buttons button:hover {
    background-color: #00c749; 
    color: #fff; /* Text color on hover */
    
}
/* Style the medicalhistory button */
.medicalhistory-action-buttons button, 
.vaccinationhistory-action-buttons button{
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e8deff; /* Background color for Deactivate button */
    color: 333; /* Text color for Deactivate button */
    cursor: pointer;
}

/* Optional: Style links for better visibility */
a {
    color: #faecfe;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color:#9e4db7; /* Darker shade on hover */
}

a {
    text-decoration: none;
    color: inherit;
}






